// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Colors
//
$font: 'Montserrat', sans-serif;
$red: #d72f2f;
$yellowLight:#efd728;
$blue: #3959b5;
$greenLight: #21a562;
$blueLight: #2196f3;
$purple: #673ab7;
$mint: #43e8bb;
$yellow: #ffc107;
$navyBlue: #231496;
$lemon: #8bc34a;

$grey: #929292;
$wineRed: #962530;
$grassGreen: #1CA94B